.header{
  margin:10px 10px 30px 10px;
text-align:center;
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.body{
  background: linear-gradient(to right, #e2e7e9, #cad5d8, #10cce5);
}
ul{
  list-style-type:none;
}
ul>li{
 border:1px solid black;
}
input{
  text-align: center;
}